body{
  padding: 50px;
  background-color: grey;
  font-family: sans-serif;
}


.container{
  display:flex;
  justify-content: flex;

}

button{
  margin-left: 10px;
}



  input{
    margin-left: 10px;
  }
